.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    height: 50rem;
    background-color: #e9e0dc;
  }
  
@media screen and (max-width:767px) {
    .backgroundImage{
      background-position: center center;
      
    }
}