.container_recommended{
    padding-left: 10rem;
}
.container_recommended h2{
    color: red;
}
.recommened{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.info_populate img{
    width: 24px;
    height: 24px;
    margin-left:10px;
    filter: brightness(0) invert(1);
  }
  .info_populate{
    display: flex;
    overflow: hidden;
    justify-content:space-between;
    padding: 0rem 1rem 0rem 1rem;
  }
  #score{
    color: black;
    font-size: 12px;
    background-color: white;
    font-weight: bold;
    align-self: center;
    border-radius: 12px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  }
  .recommened_Movies{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 5rem;
    overflow: hidden;
   
  }
