.container_topNews{
    padding-left: 10rem;
    padding-bottom: 5rem;
}
.header_topNews h2{
    color: red;
}
.header_topNews{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}
.header_topNews a{
    text-decoration: none;
    font-size: 13px;
    color: #b4b3be;
    background-color: white;
    padding: 0.25rem;
    border-radius: 12px;
    
}

.wrap_topNews{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main_TopNews{
   display: flex;
   align-items: center;
   gap: 15rem;
   padding-left: 2rem;
}
.side_topNews{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;
}
.topNews{
    display: flex;
    gap: 2rem;
}
.content_topNews{
    display: flex;
    flex-direction: column;
}
.container_topNews span{
    font-weight: bold;
}
.date{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.custom_youtube{
    width: 40rem;
    height: 350px;
    border-radius: 25px;
    overflow: hidden;
  }
.custom_SideYouTube{
    width: 200;
    height: 150;
    overflow: hidden;
    border-radius: 10px;
}
.mainTrailer{
    width: 640px;
    height:350px ; 
}
  @media screen and (max-width:767px) {
    .container_topNews{
        padding-left: 0.5rem;
        
    }
    .topNews{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .content_topNews{
        max-width: 70rem;
        width: 20rem;
        align-items: center;
        justify-content: center;
    }
    .topNews p{
        width: 10rem;
    }
    .container_topNews span{
        max-width: 15rem;
    }
   .date{
    justify-content: center;
   }
   .topNews{
    flex-direction: column;
    background-color: red;
    align-items: center;
    justify-content: flex-start;
   }
}