.info_banner .btn {
  display: flex;
  align-items: center;
}
.info_banner .btn img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  margin-left: 10px;
}

.movie_detail h2 {
  padding-bottom: 1rem;
}
.info_banner {
  position: absolute;
  bottom: 30rem;
  padding-left: 10rem;
}
.info_banner h1 {
  font-size: 50px;
  margin: 0;
}
.info_banner {
  color: white;
}
.content_detail {
  padding: 2rem 0rem 10rem 10rem;
  width: 50rem;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
}
.header_detail {
  display: flex;
  gap: 10rem;
}
.img_container {
  position: relative;
  bottom: 15rem;
}

.movie_info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.movie_info p:first-child {
  color: #706f7d;
  font-weight: bold;
  font-size: 17px;
}
.movie_info p {
  margin: 0;
  padding: 0.25rem;
}
.img_container span{
  width: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 13px;
  text-align: center;
  color: black;
  padding: 0rem 0.25rem 0rem 0.25rem;
  font-weight: bold;
  background-color: white;
}
.custom_youtube{
  width: 40rem;
  height: 350px;
  border-radius: 25px;
  overflow: hidden;
}
.bts_videos{
  display: flex;
  gap: 1.25rem;
  padding-top: 1rem;
}
.custom_btsVideos{
  width: 200;
  height: 150;
  overflow: hidden;
  border-radius: 10px;
}
.container_detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNews_side{
  max-width: 50rem;
}